{% extends "::base.html.twig" %}

{% block title %}ProfilingBundle:BadgeAdmin:supprimerBadgeAdmin{% endblock %}

{% block body %}
<h1>Welcome to the BadgeAdmin:supprimerBadgeAdmin page</h1>
{% endblock %}
