{% extends 'basebo.html.twig' %}

{% block content %}

    {% block body %}
            <div id="div_chart">  </div>
            <div id="div_chart1"> </div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript"> {{ gc_draw(piechart1, 'div_chart') }} </script>
    {% endblock %}
{% endblock %}
