p {
  line-height: 1.3125rem;
}

.user-info-comments .comments {
  margin: 2.5rem auto 0;
  max-width: 60.75rem;
  padding: 0 1.25rem;
}

.user-info-comments .comment-tile {
  font-size:18px;
  font-weight:bold;
}

.user-info-comments .comment-wrap {
  margin-bottom: 1.25rem;
  display: table;
  width: 100%;
  min-height: 5.3125rem;
}

.user-info-comments .photo {
  padding-top: 0.625rem;
  display: table-cell;
  width: 3.5rem;
}
.user-info-comments .photo .avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  background-size: contain;
}

.user-info-comments .comment-block {
  padding: 1rem;
  background-color: #fff;
  display: table-cell;
  vertical-align: top;
  border-radius: 0.1875rem;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}
.user-info-comments .comment-block textarea {
  width: 100%;
  resize: none;
}

.user-info-comments .comment-text {
  margin-bottom: 1.25rem;
}

.user-info-comments .bottom-comment {
  color: #acb4c2;
  font-size: 0.875rem;
}

.user-info-comments .comment-date {
  float: left;
}

.user-info-comments .comment-actions {
  float: right;
}
.user-info-comments .comment-actions li {
  display: inline;
  margin: -2px;
  cursor: pointer;
}
.user-info-comments .comment-actions li.complain {
  padding-right: 0.75rem;
  border-right: 1px solid #e1e5eb;
}
.user-info-comments  .comment-actions li.reply {
  padding-left: 0.75rem;
  padding-right: 0.125rem;
}
.user-info-comments .comment-actions li:hover {
  color: #0095ff;
}
