
.main {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: sans-serif;
}

.vote {
  border: none;
  background-color: $ background-color;
  width: 20px;
  height: 10.5px;
  -webkit-transform: translateZ(0);
    background: none;
  transform: translateZ(0);
}

  &:active {
    outline: none;
    border: none;
  }

  &:focus {
    outline: 0;
  }
}

.upArrow {
  x: 0px;
  y: 0px;
  path {
    fill: #BBBBBB;
    fill-rule: evenodd;
    clip-rule: evenodd;
    margin: 0;
  }
}

.downArrow {
  x: 0px;
  y: 0px;

  path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    fill: #BBBBBB;
  }
}

#upButton :hover {
  fill: #6CC576;
  cursor: pointer;
}

#downButton :hover {
  fill: #FF586C;
  cursor: pointer;
}