{% extends "::base.html.twig" %}

{% block title %}ProfilingBundle:InteretCategorie:supprimerInteretCategorie{% endblock %}

{% block body %}
<h1>Welcome to the InteretCategorie:supprimerInteretCategorie page</h1>
{% endblock %}
