{% extends 'base.html.twig' %}
{% block title %} <title>Forum</title> {% endblock title %}
{% block menu_forum %} class="active" {% endblock menu_forum %}
{% block current_page %}
    <div class="home_content_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="home_content d-flex flex-row align-items-end justify-content-start">
                        <div class="current_page">Forum</div>
                        <div class="breadcrumbs ml-auto">
                            <ul>
                                <li><a href="{{ path('index') }}">Home</a></li>
                                <li>Forum</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock current_page %}
{% block content %}
    <div class="events">
        <div class="container">
            <link href="{{ asset ('styles/forumsk.css') }}" rel="stylesheet">
            <link href="{{ asset ('styles/forum.css') }}" rel="stylesheet">


            <div class="toggleview">
                <div class="large-12 forum-head">
                    <div class="large-8 small-8 column lpad">
                        Question
                    </div>
                    <div class="large-1 column lpad">
                        Utilisateur
                    </div>
                    <div class="large-1 column lpad">
                        Upvotes
                    </div>
                    <div class="large-2 small-4 column lpad">
                        Date
                    </div>
                </div>

                <div class="large-12 forum-topic">
                    <div class="large-1 column lpad">
                        <i class="icon-file"></i>
                    </div>
                    <div class="large-7 small-8 column lpad">
            <span class="overflow-control">
              <a href="#">Title of the title</a>
            </span>
                        <span class="overflow-control">
              Description of the title of the topic(?)
            </span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">96587</span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">678</span>
                    </div>
                    <div class="large-2 small-4 column pad">
            <span>
              <a href="#">Some sub-topic</a>
            </span>
                        <span>08-29-2013 7:29PM</span>
                        <span>by <a href="#">Some user</a></span>
                    </div>
                </div>

                <div class="large-12 forum-topic">
                    <div class="large-1 column lpad">
                        <i class="icon-tablet"></i>
                    </div>
                    <div class="large-7 small-8 column lpad">
            <span class="overflow-control">
              <a href="#">Oops.. Foundation is supposed to be responsive</a>
            </span>
                        <span class="overflow-control">
              But it's not (yet) working here
            </span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">25</span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">2523</span>
                    </div>
                    <div class="large-2 small-4 column pad">
            <span>
              <a href="#">Some sub-topic</a>
            </span>
                        <span>08-29-2013 7:29PM</span>
                        <span>by <a href="#">Some user</a></span>
                    </div>
                </div>

                <div class="large-12 forum-topic">
                    <div class="large-1 column lpad">
                        <i class="icon-ellipsis-horizontal"></i>
                    </div>
                    <div class="large-7 small-8 column lpad">
            <span class="overflow-control">
              <a href="#">text-overflow: ellipsis;</a>
            </span>
                        <span class="overflow-control">
              You can type as many things as you want but the text will be shorter than bla bla bla
            </span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">355</span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">215</span>
                    </div>
                    <div class="large-2 small-4 column pad">
            <span>
              <a href="#">Some sub-topic</a>
            </span>
                        <span>08-29-2013 7:29PM</span>
                        <span>by <a href="#">Some user</a></span>
                    </div>
                </div>

                <div class="large-12 forum-topic">
                    <div class="large-1 column lpad">
                        <i class="icon-bug"></i>
                    </div>
                    <div class="large-7 small-8 column lpad">
            <span class="overflow-control">
              <a href="#">If you find any bugs is this pen...</a>
            </span>
                        <span class="overflow-control">
              ... please tell me in the comments :)
            </span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">255</span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">285</span>
                    </div>
                    <div class="large-2 small-4 column pad">
            <span>
              <a href="#">Some sub-topic</a>
            </span>
                        <span>08-29-2013 7:29PM</span>
                        <span>by <a href="#">Some user</a></span>
                    </div>
                </div>

                <div class="large-12 forum-topic">
                    <div class="large-1 column lpad">
                        <i class="icon-lock"></i>
                    </div>
                    <div class="large-7 small-8 column lpad">
            <span class="overflow-control">
              <a href="#">[Locked] Some other topic</a>
            </span>
                        <span class="overflow-control">
              This topic is locked by someone
            </span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">95</span>
                    </div>
                    <div class="large-1 column lpad">
                        <span class="center">234</span>
                    </div>
                    <div class="large-2 small-4 column pad">
            <span>
              <a href="#">Some sub-topic</a>
            </span>
                        <span>08-29-2013 7:29PM</span>
                        <span>by <a href="#">Some user</a></span>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    </div>
    <br><br><br><br>
{% endblock content %}

    {% block getyourticket %}
    {% endblock getyourticket %}