{% extends "::base.html.twig" %}

{% block title %}ProfilingBundle:InteretAdmin:supprimerInteretAdmin{% endblock %}

{% block body %}
<h1>Welcome to the InteretAdmin:supprimerInteretAdmin page</h1>
{% endblock %}
