{% extends "::base.html.twig" %}

{% block title %}ProfilingBundle:InteretUser:supprimerInteretUser{% endblock %}

{% block body %}
<h1>Welcome to the InteretUser:supprimerInteretUser page</h1>
{% endblock %}
